*
!*.c
!*.rar
!*.h
!*.py
!*.vsdx
!*.docx
!*.xlsx
!*/
!.gitignore
!.gitattributes
build
!sdkconfig
!*.txt
!components/
!components/bt_app
!components/app_sync
!components/setting
!components/wifi_app
!.gitmodules
!*.csv